adfdevdocu/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevdocu"
		},
		"LS_SQL_DW_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_DW'"
		},
		"LS_SQL_OLTP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_OLTP'"
		},
		"LS_SQL_DW_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserverdev26.database.windows.net"
		},
		"LS_SQL_DW_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ventas_dw"
		},
		"LS_SQL_DW_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admindev"
		},
		"LS_SQL_OLTP_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserverdev26.database.windows.net"
		},
		"LS_SQL_OLTP_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ventas_oltp"
		},
		"LS_SQL_OLTP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admindev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_01_Stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_Config",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SP_Log_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT source_schema, source_table, sink_schema, sink_table\n    FROM etl.copy_config WHERE is_active = 1 ORDER BY load_order",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_DW",
								"type": "DatasetReference",
								"parameters": {
									"p_schema": "etl",
									"p_table": "copy_config"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKP_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKP_Config').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CP_Dynamic",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@concat('TRUNCATE TABLE ', item().sink_schema, '.', item().sink_table)",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_OLTP",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "@item().source_schema",
												"p_table": {
													"value": "@item().source_table",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_DW",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"p_table": "@item().sink_table"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "SP_Log_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dw].[usp_log_start]",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_DW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Log_Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FE_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dw].[usp_log_end]",
							"storedProcedureParameters": {
								"rows_copied": {
									"value": {
										"value": "@null",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "SUCCESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_DW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Log_Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FE_Tables",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dw].[usp_log_end]",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_DW",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-20T18:41:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_DW')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_DW')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_OLTP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_DW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string"
					},
					"p_table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_DW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OLTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_OLTP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string"
					},
					"p_table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_OLTP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_DW_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_DW_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_DW_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_DW_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_OLTP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_OLTP_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_OLTP_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_OLTP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_OLTP_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}